# Kladd for sentimentanalys
INPUT: Kollokasjonsdf 
OUTPUT: Positiv score, Negativ score, Nøytral score


# Totalstatistikk
INPUT: korpus aviser fra 2000-2022 der en form av "barnevern" forekommer 

OUTPUT: CSV
kolonner: dato, avisnavn, frekvens av "barnevern" i utgivelsen, sentimentscore = {positiv:int, negativ:int, nøytral: int)} 
e

- [ ]

In [143]:
import dhlab as dh
import pandas as pd

In [144]:
# Data import 
positive_tokens = pd.read_csv("/home/larsm/projects/dhlab_projects/news_sentiment/sentimentanalyse/norsentlex/Fullform/Fullform_Positive_lexicon.txt", names=["terms"])
negative_tokens = pd.read_csv("/home/larsm/projects/dhlab_projects/news_sentiment/sentimentanalyse/norsentlex/Fullform/Fullform_Negative_lexicon.txt", names=["terms"])

In [145]:
positive_tokens

              terms
0          absolutt
1         absolutta
2         absolutte
3       absoluttene
4        absolutter
...             ...
6098        ønskete
6099          ønskt
6100         ønskte
6101   øyeblikkelig
6102  øyeblikkelige

[6103 rows x 1 columns]

In [146]:
negative_tokens

         terms
0       abnorm
1      abnorme
2      abnormt
3        abort
4      aborten
...        ...
14834  ørlille
14835   ørlita
14836   ørlite
14837  ørliten
14838    ørsmå

[14839 rows x 1 columns]

In [147]:
def count_sentiment_tokens(coll, terms):     
    
    target_terms = terms.join(coll, how="inner", on="terms")
    
    return target_terms

In [177]:
def outer(coll, pos, neg):
    coll.index = coll.index.str.lower()
    coll.index.name = "index"
    coll = coll.groupby('index')["counts"].sum().to_frame("counts")    
    assert coll.index.is_unique
    
    positive_counts = count_sentiment_tokens(coll, pos)
    negative_counts = count_sentiment_tokens(coll, neg)
    #neutral_counts = coll.index.str.isin(positive_counts.index + negative_counts.index)
    duplicates = pd.concat([coll, negative_counts, positive_counts], axis=1).index.drop_duplicates(keep=False).to_series("toks")
    neutral_counts = coll.join(duplicates, how="inner", on="toks")
    
    
    positive_counts["sentiment"] = "pos"
    negative_counts["sentiment"] = "neg"
    neutral_counts["sentiment"] = "neut"
    
    return pd.concat([positive_counts, negative_counts, neutral_counts], axis=1)

In [181]:
pos = positive_tokens
neg = negative_tokens

In [182]:
coll.index = coll.index.str.lower()
coll.index.name = "index"
coll = coll.groupby('index')["counts"].sum().to_frame("counts")    
assert coll.index.is_unique

positive_counts = count_sentiment_tokens(coll, pos)
negative_counts = count_sentiment_tokens(coll, neg)
#neutral_counts = coll.index.str.isin(positive_counts.index + negative_counts.index)
duplicates = pd.concat([coll, negative_counts, positive_counts], axis=1).index.drop_duplicates(keep=False).to_series("toks")
neutral_counts = coll.join(duplicates, how="inner", on="toks")


positive_counts["sentiment"] = "pos"
negative_counts["sentiment"] = "neg"
neutral_counts["sentiment"] = "neut"

TypeError: Index(...) must be called with a collection of some kind, 'toks' was passed

In [ ]:
 +

In [211]:
for term in coll.iterrows():
    #print(term[0] )
    if term[0] not in set(positive_counts.index).union(set(negative_counts.index)):
        print(term[1])
    
    
    #break

counts    9
Name: !, dtype: int64
counts    10
Name: ", dtype: int64
counts    1
Name: #, dtype: int64
counts    4
Name: %, dtype: int64
counts    2
Name: &, dtype: int64
counts    10
Name: ', dtype: int64
counts    47
Name: (, dtype: int64
counts    49
Name: ), dtype: int64
counts    13
Name: *, dtype: int64
counts    707
Name: ,, dtype: int64
counts    175
Name: -, dtype: int64
counts    1189
Name: ., dtype: int64
counts    2
Name: ..., dtype: int64
counts    1
Name: .12, dtype: int64
counts    1
Name: .94, dtype: int64
counts    19
Name: /, dtype: int64
counts    4
Name: 0, dtype: int64
counts    1
Name: 00.20, dtype: int64
counts    3
Name: 000, dtype: int64
counts    1
Name: 02, dtype: int64
counts    1
Name: 03, dtype: int64
counts    1
Name: 04.15, dtype: int64
counts    4
Name: 06, dtype: int64
counts    19
Name: 1, dtype: int64
counts    1
Name: 1,3, dtype: int64
counts    2
Name: 1,5, dtype: int64
counts    8
Name: 1., dtype: int64
counts    1
Name: 1.000, dtype: int64
counts    5
Name: 10, dtype: int64
counts    4
Name: 10., dtype: int64
counts    2
Name: 100, dtype: int64
counts    1
Name: 100.000, dtype: int64
counts    1
Name: 10000, dtype: int64
counts    1
Name: 104., dtype: int64
counts    3
Name: 11, dtype: int64
counts    1
Name: 11., dtype: int64
counts    1
Name: 11.00, dtype: int64
counts    1
Name: 110, dtype: int64
counts    1
Name: 115, dtype: int64
counts    6
Name: 12, dtype: int64
counts    1
Name: 12.00, dtype: int64
counts    1
Name: 12.000, dtype: int64
counts    1
Name: 121, dtype: int64
counts    1
Name: 122, dtype: int64
counts    1
Name: 124., dtype: int64
counts    3
Name: 13, dtype: int64
counts    7
Name: 14, dtype: int64
counts    1
Name: 14., dtype: int64
counts    13
Name: 15, dtype: int64
counts    2
Name: 150, dtype: int64
counts    1
Name: 156, dtype: int64
counts    3
Name: 16, dtype: int64
counts    1
Name: 16., dtype: int64
counts    1
Name: 169, dtype: int64
counts    3
Name: 17, dtype: int64
counts    1
Name: 17.10, dtype: int64
counts    10
Name: 18, dtype: int64
counts    1
Name: 1861, dtype: int64
counts    2
Name: 19, dtype: int64
counts    2
Name: 19.00, dtype: int64
counts    1
Name: 19.10, dtype: int64
counts    1
Name: 1950, dtype: int64
counts    1
Name: 1960, dtype: int64
counts    1
Name: 1966., dtype: int64
counts    1
Name: 1967., dtype: int64
counts    1
Name: 1970, dtype: int64
counts    1
Name: 1983, dtype: int64
counts    1
Name: 1989, dtype: int64
counts    1
Name: 1990., dtype: int64
counts    1
Name: 1992., dtype: int64
counts    1
Name: 1993, dtype: int64
counts    1
Name: 1993., dtype: int64
counts    1
Name: 1997, dtype: int64
counts    1
Name: 1999, dtype: int64
counts    1
Name: 1999., dtype: int64
counts    6
Name: 2, dtype: int64
counts    1
Name: 2,5, dtype: int64
counts    1
Name: 2,6, dtype: int64
counts    4
Name: 2., dtype: int64
counts    2
Name: 2.1, dtype: int64
counts    1
Name: 2.2, dtype: int64
counts    1
Name: 2.700, dtype: int64
counts    3
Name: 20, dtype: int64
counts    1
Name: 20,00, dtype: int64
counts    2
Name: 20.00, dtype: int64
counts    1
Name: 20.05, dtype: int64
counts    1
Name: 20.06, dtype: int64
counts    2
Name: 20.30, dtype: int64
counts    1
Name: 20.40, dtype: int64
counts    3
Name: 200, dtype: int64
counts    3
Name: 2000, dtype: int64
counts    3
Name: 2001., dtype: int64
counts    2
Name: 2002, dtype: int64
counts    1
Name: 2002., dtype: int64
counts    7
Name: 2003, dtype: int64
counts    7
Name: 2004, dtype: int64
counts    2
Name: 2004., dtype: int64
counts    5
Name: 2005, dtype: int64
counts    10
Name: 2006, dtype: int64
counts    3
Name: 2006., dtype: int64
counts    10
Name: 2007, dtype: int64
counts    4
Name: 2007., dtype: int64
counts    5
Name: 2008, dtype: int64
counts    2
Name: 2008., dtype: int64
counts    2
Name: 2009, dtype: int64
counts    1
Name: 2009., dtype: int64
counts    3
Name: 2010, dtype: int64
counts    2
Name: 2011, dtype: int64
counts    1
Name: 2011., dtype: int64
counts    1
Name: 2012, dtype: int64
counts    3
Name: 2013, dtype: int64
counts    2
Name: 2014, dtype: int64
counts    1
Name: 2014., dtype: int64
counts    1
Name: 2016, dtype: int64
counts    1
Name: 2016., dtype: int64
counts    1
Name: 2017, dtype: int64
counts    2
Name: 2018, dtype: int64
counts    1
Name: 2019, dtype: int64
counts    2
Name: 2021, dtype: int64
counts    1
Name: 21., dtype: int64
counts    2
Name: 21.00, dtype: int64
counts    1
Name: 21.25, dtype: int64
counts    2
Name: 21.30, dtype: int64
counts    1
Name: 21.480, dtype: int64
counts    1
Name: 22, dtype: int64
counts    1
Name: 22.00, dtype: int64
counts    1
Name: 22.05, dtype: int64
counts    1
Name: 22.10, dtype: int64
counts    2
Name: 22.15, dtype: int64
counts    2
Name: 22.30, dtype: int64
counts    1
Name: 223, dtype: int64
counts    1
Name: 23, dtype: int64
counts    1
Name: 23., dtype: int64
counts    1
Name: 23.00, dtype: int64
counts    1
Name: 23.000, dtype: int64
counts    1
Name: 23.03, dtype: int64
counts    2
Name: 23.15, dtype: int64
counts    1
Name: 23.800, dtype: int64
counts    1
Name: 238, dtype: int64
counts    1
Name: 239, dtype: int64
counts    1
Name: 24, dtype: int64
counts    2
Name: 24., dtype: int64
counts    1
Name: 240, dtype: int64
counts    1
Name: 2412, dtype: int64
counts    1
Name: 243, dtype: int64
counts    1
Name: 244, dtype: int64
counts    1
Name: 25, dtype: int64
counts    1
Name: 252, dtype: int64
counts    1
Name: 254, dtype: int64
counts    1
Name: 256, dtype: int64
counts    1
Name: 25836, dtype: int64
counts    1
Name: 2590, dtype: int64
counts    1
Name: 262, dtype: int64
counts    2
Name: 27, dtype: int64
counts    1
Name: 27., dtype: int64
counts    2
Name: 270, dtype: int64
counts    1
Name: 273, dtype: int64
counts    1
Name: 274, dtype: int64
counts    2
Name: 28, dtype: int64
counts    1
Name: 286, dtype: int64
counts    1
Name: 29, dtype: int64
counts    1
Name: 293., dtype: int64
counts    5
Name: 3, dtype: int64
counts    1
Name: 3,5, dtype: int64
counts    1
Name: 3., dtype: int64
counts    1
Name: 3.10, dtype: int64
counts    2
Name: 30, dtype: int64
counts    2
Name: 30., dtype: int64
counts    1
Name: 30.750, dtype: int64
counts    2
Name: 3000, dtype: int64
counts    1
Name: 31, dtype: int64
counts    2
Name: 31., dtype: int64
counts    1
Name: 32, dtype: int64
counts    1
Name: 32.900, dtype: int64
counts    3
Name: 33, dtype: int64
counts    5
Name: 36, dtype: int64
counts    1
Name: 37.650, dtype: int64
counts    2
Name: 38, dtype: int64
counts    1
Name: 3973, dtype: int64
counts    7
Name: 4, dtype: int64
counts    1
Name: 4,5, dtype: int64
counts    1
Name: 4.900, dtype: int64
counts    2
Name: 40, dtype: int64
counts    1
Name: 40., dtype: int64
counts    1
Name: 4085, dtype: int64
counts    1
Name: 41, dtype: int64
counts    1
Name: 43, dtype: int64
counts    1
Name: 44, dtype: int64
counts    1
Name: 44., dtype: int64
counts    2
Name: 4500, dtype: int64
counts    1
Name: 48, dtype: int64
counts    1
Name: 5, dtype: int64
counts    1
Name: 5., dtype: int64
counts    2
Name: 5.3.1, dtype: int64
counts    1
Name: 5.3.2, dtype: int64
counts    2
Name: 50, dtype: int64
counts    1
Name: 50.000, dtype: int64
counts    1
Name: 52.100, dtype: int64
counts    1
Name: 54, dtype: int64
counts    1
Name: 540, dtype: int64
counts    1
Name: 545., dtype: int64
counts    1
Name: 560, dtype: int64
counts    1
Name: 580, dtype: int64
counts    1
Name: 59, dtype: int64
counts    4
Name: 6, dtype: int64
counts    1
Name: 6,4, dtype: int64
counts    1
Name: 60, dtype: int64
counts    4
Name: 61, dtype: int64
counts    1
Name: 611, dtype: int64
counts    1
Name: 61161, dtype: int64
counts    3
Name: 62, dtype: int64
counts    2
Name: 63, dtype: int64
counts    2
Name: 64, dtype: int64
counts    2
Name: 69, dtype: int64
counts    4
Name: 7, dtype: int64
counts    2
Name: 7., dtype: int64
counts    1
Name: 70, dtype: int64
counts    1
Name: 71, dtype: int64
counts    1
Name: 715, dtype: int64
counts    1
Name: 72, dtype: int64
counts    1
Name: 74, dtype: int64
counts    1
Name: 7402768, dtype: int64
counts    1
Name: 745, dtype: int64
counts    2
Name: 75, dtype: int64
counts    1
Name: 76.000, dtype: int64
counts    1
Name: 78, dtype: int64
counts    3
Name: 8, dtype: int64
counts    1
Name: 8., dtype: int64
counts    1
Name: 80, dtype: int64
counts    2
Name: 8000, dtype: int64
counts    1
Name: 825, dtype: int64
counts    1
Name: 83, dtype: int64
counts    3
Name: 835, dtype: int64
counts    2
Name: 842, dtype: int64
counts    1
Name: 85, dtype: int64
counts    2
Name: 850, dtype: int64
counts    2
Name: 855, dtype: int64
counts    2
Name: 858, dtype: int64
counts    1
Name: 89, dtype: int64
counts    2
Name: 9, dtype: int64
counts    1
Name: 9.900, dtype: int64
counts    1
Name: 90, dtype: int64
counts    2
Name: 91, dtype: int64
counts    1
Name: 913, dtype: int64
counts    1
Name: 92, dtype: int64
counts    1
Name: 94337850, dtype: int64
counts    1
Name: 95, dtype: int64
counts    1
Name: 98, dtype: int64
counts    91
Name: :, dtype: int64
counts    8
Name: ;, dtype: int64
counts    4
Name: <, dtype: int64
counts    2
Name: =, dtype: int64
counts    5
Name: >, dtype: int64
counts    66
Name: ?, dtype: int64
counts    5
Name: @, dtype: int64
counts    2
Name: [, dtype: int64
counts    1
Name: \, dtype: int64
counts    4
Name: ], dtype: int64
counts    6
Name: ^, dtype: int64
counts    2
Name: _, dtype: int64
counts    11
Name: a, dtype: int64
counts    4
Name: aasheim, dtype: int64
counts    1
Name: aasvik, dtype: int64
counts    2
Name: absolutt, dtype: int64
counts    1
Name: adekvat, dtype: int64
counts    1
Name: adferdsbarna, dtype: int64
counts    1
Name: adgang, dtype: int64
counts    1
Name: administrasjon, dtype: int64
counts    2
Name: administrasjonen, dtype: int64
counts    1
Name: administrasjonsutgifter, dtype: int64
counts    1
Name: administrasjonsutvalget, dtype: int64
counts    4
Name: adopsjon, dtype: int64
counts    1
Name: adopsjonsområdet, dtype: int64
counts    1
Name: adopsjonsstøtte, dtype: int64
counts    1
Name: adopsjonssøknader, dtype: int64
counts    1
Name: adriana, dtype: int64
counts    1
Name: advares, dtype: int64
counts    1
Name: advarsel, dtype: int64
counts    7
Name: advokat, dtype: int64
counts    1
Name: advokaten, dtype: int64
counts    2
Name: advokater, dtype: int64
counts    2
Name: affære, dtype: int64
counts    3
Name: aftenblad, dtype: int64
counts    2
Name: aftenbladet, dtype: int64
counts    1
Name: aftenbladet-reportasjen, dtype: int64
counts    1
Name: aftenposten, dtype: int64
counts    1
Name: ag, dtype: int64
counts    1
Name: akershus, dtype: int64
counts    1
Name: aksepterte, dtype: int64
counts    1
Name: aksis, dtype: int64
counts    3
Name: aksjonen, dtype: int64
counts    1
Name: aksnes, dtype: int64
counts    1
Name: aktiv, dtype: int64
counts    1
Name: aktive, dtype: int64
counts    1
Name: aktivitet, dtype: int64
counts    1
Name: aktiviteten, dtype: int64
counts    1
Name: aktiviteter, dtype: int64
counts    1
Name: aktivitetstallene, dtype: int64
counts    1
Name: aktivitetsvekst, dtype: int64
counts    3
Name: aktivt, dtype: int64
counts    1
Name: aktørene, dtype: int64
counts    2
Name: akutt, dtype: int64
counts    2
Name: akuttberedskap, dtype: int64
counts    1
Name: akuttberedskapen, dtype: int64
counts    2
Name: akutte, dtype: int64
counts    1
Name: akuttplasseringene, dtype: int64
counts    1
Name: akuttsenter, dtype: int64
counts    4
Name: akuttvedtak, dtype: int64
counts    1
Name: akuttvedtakspr, dtype: int64
counts    1
Name: al, dtype: int64
counts    4
Name: alarm, dtype: int64
counts    2
Name: alderen, dtype: int64
counts    4
Name: aldri, dtype: int64
counts    1
Name: alene, dtype: int64
counts    1
Name: alf, dtype: int64
counts    1
Name: alice, dtype: int64
counts    1
Name: all, dtype: int64
counts    39
Name: alle, dtype: int64
counts    4
Name: aller, dtype: int64
counts    9
Name: allerede, dtype: int64
counts    1
Name: alliert, dtype: int64
counts    1
Name: allmøtene, dtype: int64
counts    7
Name: alltid, dtype: int64
counts    1
Name: alone, dtype: int64
counts    5
Name: alt, dtype: int64
counts    1
Name: alter, dtype: int64
counts    4
Name: alternativ, dtype: int64
counts    2
Name: alternative, dtype: int64
counts    1
Name: alternativet, dtype: int64
counts    1
Name: altså, dtype: int64
counts    3
Name: alvdal-saken, dtype: int64
counts    5
Name: alvor, dtype: int64
counts    5
Name: alvorlig, dtype: int64
counts    3
Name: alvorlige, dtype: int64
counts    1
Name: am, dtype: int64
counts    1
Name: ambisjoner, dtype: int64
counts    1
Name: amtmannsvingen, dtype: int64
counts    2
Name: an, dtype: int64
counts    2
Name: an-, dtype: int64
counts    1
Name: analysene, dtype: int64
counts    1
Name: anb, dtype: int64
counts    1
Name: anb-ntb, dtype: int64
counts    1
Name: anbefaler, dtype: int64
counts    1
Name: anbefalin-, dtype: int64
counts    1
Name: anbefalingene, dtype: int64
counts    1
Name: anbefalinger, dtype: int64
counts    1
Name: anbntb, dtype: int64
counts    1
Name: anbringelse, dtype: int64
counts    1
Name: anbringelses, dtype: int64
counts    1
Name: anbringelsesmuligheter, dtype: int64
counts    1
Name: andelen, dtype: int64
counts    3
Name: anders, dtype: int64
counts    1
Name: andersen, dtype: int64
counts    1
Name: andersland, dtype: int64
counts    1
Name: anderssen, dtype: int64
counts    1
Name: andestad, dtype: int64
counts    33
Name: andre, dtype: int64
counts    1
Name: andreas, dtype: int64
counts    1
Name: andreasimonsen, dtype: int64
counts    2
Name: andresen, dtype: int64
counts    1
Name: andvik, dtype: int64
counts    1
Name: anette, dtype: int64
counts    1
Name: angis, dtype: int64
counts    1
Name: angripe, dtype: int64
counts    1
Name: angående, dtype: int64
counts    1
Name: anholdt, dtype: int64
counts    1
Name: anita, dtype: int64
counts    1
Name: ankebehandling, dtype: int64
counts    1
Name: anker, dtype: int64
counts    1
Name: anklager, dtype: int64
counts    1
Name: anklages, dtype: int64
counts    1
Name: anklageskrift, dtype: int64
counts    1
Name: anklaget, dtype: int64
counts    2
Name: anmelde, dtype: int64
counts    3
Name: anmeldelsen, dtype: int64
counts    1
Name: anmelderen, dtype: int64
counts    2
Name: anmeldt, dtype: int64
counts    3
Name: anmeldte, dtype: int64
counts    1
Name: ann-marit, dtype: int64
counts    2
Name: anna, dtype: int64
counts    1
Name: anne, dtype: int64
counts    6
Name: annen, dtype: int64
counts    2
Name: annerledes, dtype: int64
counts    15
Name: annet, dtype: int64
counts    1
Name: annonser, dtype: int64
counts    1
Name: annsvar, dtype: int64
counts    1
Name: anonym, dtype: int64
counts    1
Name: anonyme, dtype: int64
counts    1
Name: anonymt, dtype: int64
counts    7
Name: ansatt, dtype: int64
counts    39
Name: ansatte, dtype: int64
counts    1
Name: ansattes, dtype: int64
counts    1
Name: ansettelse, dtype: int64
counts    2
Name: ansettelser, dtype: int64
counts    1
Name: anskaffe, dtype: int64
counts    1
Name: anskaffelser, dtype: int64
counts    1
Name: anskuelsesundervisning, dtype: int64
counts    12
Name: ansvar, dtype: int64
counts    16
Name: ansvaret, dtype: int64
counts    2
Name: ansvarlig, dtype: int64
counts    5
Name: ansvarlige, dtype: int64
counts    1
Name: ansvarsfraskrivelse, dtype: int64
counts    2
Name: anta, dtype: int64
counts    5
Name: antall, dtype: int64
counts    4
Name: antallet, dtype: int64
counts    1
Name: antyder, dtype: int64
counts    2
Name: ap, dtype: int64
counts    1
Name: apelthun, dtype: int64
counts    1
Name: apetitt, dtype: int64
counts    1
Name: apparat, dtype: int64
counts    3
Name: april, dtype: int64
counts    1
Name: ar, dtype: int64
counts    2
Name: ar-, dtype: int64
counts    16
Name: arbeid, dtype: int64
counts    3
Name: arbeide, dtype: int64
counts    6
Name: arbeider, dtype: int64
counts    1
Name: arbeiderblad, dtype: int64
counts    1
Name: arbeiderbladet, dtype: int64
counts    3
Name: arbeiderpartiet, dtype: int64
counts    1
Name: arbeides, dtype: int64
counts    11
Name: arbeidet, dtype: int64
counts    1
Name: arbeidsforhold, dtype: int64
counts    2
Name: arbeidsformidlingen, dtype: int64
counts    1
Name: arbeidsgivere, dtype: int64
counts    1
Name: arbeidsgiveren, dtype: int64
counts    1
Name: arbeidsgruppe, dtype: int64
counts    1
Name: arbeidskontorene, dtype: int64
counts    1
Name: arbeidsmiljø, dtype: int64
counts    2
Name: arbeidsområde, dtype: int64
counts    1
Name: arbeidsområdet, dtype: int64
counts    1
Name: arbeidsoppgåver, dtype: int64
counts    1
Name: arbeidsplass, dtype: int64
counts    1
Name: arbeidsplassar, dtype: int64
counts    2
Name: arbeidstid, dtype: int64
counts    1
Name: arbeidstidsordninger, dtype: int64
counts    2
Name: arbeidsvilkår, dtype: int64
counts    1
Name: arianson, dtype: int64
counts    1
Name: arild, dtype: int64
counts    1
Name: arkivbilde, dtype: int64
counts    1
Name: arm, dtype: int64
counts    1
Name: art, dtype: int64
counts    3
Name: artikkel, dtype: int64
counts    1
Name: asa, dtype: int64
counts    1
Name: asfalteringsarbeider, dtype: int64
counts    2
Name: asker, dtype: int64
counts    1
Name: askildsen, dtype: int64
counts    1
Name: askim, dtype: int64
counts    3
Name: askøy, dtype: int64
counts    1
Name: ass, dtype: int64
counts    1
Name: assisterande, dtype: int64
counts    1
Name: assisterende, dtype: int64
counts    1
Name: asylsøkerbarna, dtype: int64
counts    4
Name: asylsøkere, dtype: int64
counts    1
Name: asylsøkerne, dtype: int64
counts    370
Name: at, dtype: int64
counts    2
Name: atferdsproblemer, dtype: int64
counts    1
Name: atterberg, dtype: int64
counts    1
Name: attet, dtype: int64
counts    1
Name: atv-kontor, dtype: int64
counts    1
Name: au, dtype: int64
counts    1
Name: audun, dtype: int64
counts    2
Name: august, dtype: int64
counts    1
Name: august-september, dtype: int64
counts    1
Name: auke, dtype: int64
counts    3
Name: aust-agder, dtype: int64
counts    2
Name: automatisk, dtype: int64
counts    1
Name: autoritet, dtype: int64
counts    344
Name: av, dtype: int64
counts    1
Name: av-, dtype: int64
counts    1
Name: avdekkes, dtype: int64
counts    5
Name: avdekket, dtype: int64
counts    1
Name: avdeling, dtype: int64
counts    2
Name: avdelingen, dtype: int64
counts    2
Name: avdelingsleder, dtype: int64
counts    1
Name: avdelingssykepleier, dtype: int64
counts    1
Name: avdramatisere, dtype: int64
counts    1
Name: avgi, dtype: int64
counts    1
Name: avgifter, dtype: int64
counts    1
Name: avgjort, dtype: int64
counts    1
Name: avgjør, dtype: int64
counts    1
Name: avgjøre, dtype: int64
counts    1
Name: avgjørelse, dtype: int64
counts    3
Name: avgjørende, dtype: int64
counts    1
Name: avhenger, dtype: int64
counts    1
Name: avhengig, dtype: int64
counts    2
Name: avis, dtype: int64
counts    1
Name: avisene, dtype: int64
counts    1
Name: aviser, dtype: int64
counts    1
Name: avkriminalisere, dtype: int64
counts    1
Name: avlastningsfamilie, dtype: int64
counts    3
Name: avlastningshjem, dtype: int64
counts    1
Name: avsagt, dtype: int64
counts    1
Name: avsluttet, dtype: int64
counts    1
Name: avslått, dtype: int64
counts    1
Name: avslører, dtype: int64
counts    1
Name: avslørt, dtype: int64
counts    2
Name: avtalen, dtype: int64
counts    1
Name: avtaler, dtype: int64
counts    1
Name: avtalt, dtype: int64
counts    5
Name: avvik, dtype: int64
counts    1
Name: avvika, dtype: int64
counts    1
Name: avvist, dtype: int64
counts    3
Name: b, dtype: int64
counts    1
Name: b.mars, dtype: int64
counts    1
Name: badstue, dtype: int64
counts    8
Name: bak, dtype: int64
counts    7
Name: bakgrunn, dtype: int64
counts    3
Name: bakgrunnen, dtype: int64
counts    1
Name: bakke, dtype: int64
counts    1
Name: bamevemansatte, dtype: int64
counts    1
Name: bamevemsleder, dtype: int64
counts    1
Name: bamevemsleiaren, dtype: int64
counts    1

In [ ]:
coll.filter(items=())

In [200]:
coll.

SyntaxError: invalid syntax (1101847456.py, line 1)

In [199]:
def 
    for term in coll.index: 
        if term not in list(negative_counts.terms).extend(list(positive_counts.terms)): 
            yield coll.loc[term]


#coll.merge([negative_counts.terms, positive_counts.terms])#.reset_index().drop_duplicates(keep=False, subset="index")#.set_index="index"

TypeError: DataFrame.join() got an unexpected keyword argument 'axis'

In [149]:
coll = c.coll("barnevernet").frame

coll.index = coll.index.str.lower()
coll.index.name = "index"
coll = coll.groupby('index')["counts"].sum().to_frame("counts")

In [172]:
coll

       counts
index
!           9
"          10
#           1
%           4
&           2
...       ...
•          14
€           2
−          15
■          18
●           1

[4952 rows x 1 columns]

In [178]:
outer(coll, positive_tokens, negative_tokens)

TypeError: Index(...) must be called with a collection of some kind, 'toks' was passed

In [150]:
kladd(colldf, positive_tokens)

           terms  counts
0       absolutt       2
37         alvor       5
39      alvorlig       5
40     alvorlige       3
53    ambisjoner       1
...          ...     ...
6083        økte       4
6089       ønske       2
6095      ønsker      14
6096      ønskes       2
6097      ønsket       5

[381 rows x 2 columns]

In [151]:
c = dh.Corpus(doctype="digavis", limit=10000)

In [152]:
colldf = c.coll("barnevernet").frame

In [153]:
kladd(colldf, positive_tokens)

          terms  counts
37        alvor       1
38      alvoret       1
39     alvorlig       4
40    alvorlige       2
55     anbefale       1
...         ...     ...
6082        økt      19
6083       økte       4
6090    ønskede       1
6095     ønsker      10
6097     ønsket       7

[296 rows x 2 columns]

In [154]:
kladd(colldf, negative_tokens)

           terms  counts
37       advarer       1
44       advarte       1
59         alarm       1
90         alvor       1
91       alvoret       1
...          ...     ...
14614    voldsom       1
14647       vond       2
14649      vondt       1
14810  ødelegger       1
14831    ømtålig       1

[390 rows x 2 columns]

In [155]:
colldf.groupby(by="index")

In [156]:
c.coll("barnevernet").sort().frame

           counts
.             971
i             671
,             601
og            476
til           315
...           ...
familiei        1
800             1
familiene       1
familiens       1
hat             1

[4644 rows x 1 columns]

In [157]:
dh.Collocations(c, words="barnevernet")

    counts
!        9
"        9
#        1
%        2
&        1
..     ...
—       14
‘        1
’        2
•       18
■       17

[4644 rows x 1 columns]

In [158]:
c.collocations("barnevernet")

AttributeError: 'Corpus' object has no attribute 'collocations'

------

IDAG: 
- [ ] Skripte sentimentanalyse på kollokasjoner 
- [ ] Produsere CSV